- Instalar Flask
pip install flask-cors
pip install flask

- Instalar Firebase
npm install firebase

- Instalar dependencias para PDF
pip install pdfplumber

- Instalar dependencias de Python
pip install pytesseract
pip install Pillow